---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <div style="height: calc(100% - 32px);" class="container mx-auto gap-20 mt-20">
		<div>
			<div transition:name="text-box" class="bg-orange-100 p-4 rounded-2xl mx-auto" style="max-width: fit-content;">
				<div transition:name="title" transition:animate="fade"  class="text-3xl text-center">Lorem ipsum dolor sit amet consectetur</div>
			</div>
			<div class="p-4 rounded-2xl mt-2 text-xl px-40">
				<div>
					Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
				</div>
			</div>
		</div>
	</div>
</Layout>