---
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <div class=" mx-auto gap-20 md:mt-20 mt-6">
		<div>
			<div transition:name="text-box" class=" p-4 rounded-2xl mx-auto" style="max-width: fit-content;">
				<div transition:name="title" transition:animate="fade"  class="text-3xl text-center">Lorem ipsum dolor sit amet consectetur</div>
				<img transition:name="post-image-1" src="/images/blog.svg"/>
			</div>
			<div class="px-4 rounded-2xl  md:w-2/4 mx-auto">
						<div transition:name="post-footer-1" style="width: 100%" class="mb-4 text-sm py-2 footer flex flex-row justify-start gap-4 border-b-2 border-neutral-100">
							<div class="flex flex-row gap-2">
								<i class="gg-comment "></i>
								<span>1</span>
							</div>
							<div class="flex flex-row gap-2 items-center">
								<i class="gg-calendar-dates"></i>
								<span>3 days ago</span> 
							</div>
							<div class="flex flex-row gap-2 items-center">
								<i class="gg-user"></i>
								<span>by Jeshol</span>
							</div>
							
					</div>	
				<div transition:name="post-content-1" class="text-xl">
					Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
                    Lorem ipsum dolor sit amet consectetur. Massa libero natoque viverra amet nascetur imperdiet semper.
				</div>
			</div>
		</div>
	</div>
</Layout>