#box {
  view-transition-name: box;
  contain: paint;
  height: 20px;
  width: 100px;
}

::view-transition-old(box),
::view-transition-new(box) {
}

#blue {
  view-transition-name: blue;
  contain: paint;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}

::view-transition-new(blue) {
  animation-name: in;
  animation-duration: 1s;
}

::view-transition-old(blue) {
  animation-name: out;
  animation-duration: 1s;
}

@keyframes in {
  0% {
    left: 100px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes out {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 100px;
  }
}
