---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div  class="flex items-center flex-col mt-4">
				<div transition:name="image" class="mt-20" >
			<img class="mx-auto" style="max-width: 300px;" src="/images/amicofront.svg"/>
		</div>
    	<div class="flex flex-row-reverse justify-center container mx-auto gap-20 mt-8">
		<div>
			<div  class=" p-4 rounded-2xl text-center" >
				<div transition:name="title" transition:animate="fade" class="text-4xl">Recent blog posts</div>
			</div>
			<div class="px-4 rounded-2xl md:w-2/4 mx-auto">
                <div class="border-b-2  py-4">
					<a class="text-medium text-xl font-medium" href="/blog/1">Lorem ipsum dolor sit amet</a>
					<div class="flex flex-row gap-8 mt-4">
                  		<img transition:name="post-image-1" style="max-width: 100px;" src="/images/blog.svg"/>
						<div transition:name="post-content-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus laboriosam ex obcaecati sapiente odit eligendi labore ad doloribus amet facilis ullam, debitis quo, </div>
					</div>
					<div transition:name="post-footer-1" style="width: 100%" class="pt-2 pl-2 footer flex flex-row justify-start gap-4">
						<div class="flex flex-row gap-2">
							<i class="gg-comment "></i>
							<span>1</span>
						</div>
						<div class="flex flex-row gap-2 items-center">
							<i class="gg-calendar-dates"></i>
							<span>3 days ago</span> 
						</div>
						<div class="flex flex-row gap-2 items-center">
							<i class="gg-user"></i>
							<span>by Jeshol</span>
						</div>
					</div>					
				</div>
                <div class="border-b-2 border-b-sky-200 py-2">
					<a class="text-medium text-xl font-medium" href="/blog/1">Lorem ipsum dolor sit amet</a>
					<div class="flex flex-row gap-8 mt-4">
                  		<img transition:name="post-image-2"  style="max-width: 100px;" src="/images/blog.svg"/>
						<div transition:name="post-content-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus laboriosam ex obcaecati sapiente odit eligendi labore ad doloribus amet facilis ullam, debitis quo, </div>
					</div>
					<div transition:name="post-footer-2" style="width: 100%" class="pt-2 pl-2 footer flex flex-row justify-start gap-4">
						<div class="flex flex-row gap-2">
							<i class="gg-comment "></i>
							<span>1</span>
						</div>
						<div class="flex flex-row gap-2 items-center">
							<i class="gg-calendar-dates"></i>
							<span>3 days ago</span> 
						</div>
						<div class="flex flex-row gap-2 items-center">
							<i class="gg-user"></i>
							<span>by Jeshol</span>
						</div>
					</div>					
				</div>
			</div>
		</div>

    </div>
</Layout>