---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <div class="mt-6 md:my-20 px-4">
        <img transition:name="image" class="md:w-96 mx-auto" src="/images/pana.svg"/>
        </div>
        <form class="mx-auto max-w-3xl flex flex-col gap-4" netlify>
            <input type="email" name="email" placeholder="Email" class="p-2 border-b-2 border-orange-400 text-black"/ required>
            <textarea name="message" placeholder="Message" class="p-2 border-b-2 border-orange-400 text-black h-32"/>
            <button class="p-2 px-4 border-2 border-orange-500 w-fit ">Submit</button>
        </form>
    </div>
</Layout>