---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <div class="mx-auto p-4 md:mt-20 mt-6 max-w-6xl flex flex-col justify-center">
        <div class="w-fit mx-auto" transition:name="image">
            <img  class="md:w-96 p-4 " src="/images/amicofront.svg"/>
        </div>
            <form class="mx-auto flex flex-col gap-4 w-full max-w-2xl" netlify>
                <input type="email" name="email" placeholder="Email" class="p-2 border-b-2 border-orange-400 text-black"/ required>
                <textarea name="message" placeholder="Message" class="p-2 border-b-2 border-orange-400 text-black h-32"/>
                <button class="p-2 px-4 border-2 border-orange-500 w-fit ">Submit</button>
            </form>
        </div>
    </div>
</Layout>