---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Index">
	<div class="flex md:flex-row flex-col-reverse items-center justify-center mx-auto md:gap-20 gap-4 p-4 md:mt-20">
		<div class="md:w-96">
			<div class="bg-orange-100 text-black  p-4 rounded-2xl text-lg">
				<div transition:name="title" class="text-2xl text-center">Welcome!</div>
				<div class="mt-2">
					This is the portfolio of Jesper Holmlund made with Astro, Tailwind and view transitions
				</div>
			</div>
			<div class="p-4 rounded-2xl mt-4">
				<div>
					<h3 class="text-xl mb-4">To demonstrate view transitions, use google chrome</h3>
					<h4 class="font-bold">Under construction</h4>
					<ul class="mb-4 list-disc">
						<li class="line-through">Update view transition</li>
						<li class="line-through">Add markdown content folder for project page</li>
						<li class="line-through">Dynamic routing</li>
						<li class="line-through">Pagination</li>
						<li class="line-through">About page</li>
						<li class="line-through">Add projects</li>
						<li class="line-through">Minor tweaks</li>
						<li class="line-through">Contact page</li>
						<li class="line-through">Images</li>
						<li>Favicon</li>
					</ul>
					<a class="text-sm" href="https://storyset.com/work">Work illustrations by Storyset</a>
				</div>
			</div>
		</div>
		<div transition:name="image">
			<img class="md:w-96" src="/images/amicofront.svg"/>
			<div id="box">
    		</div>
		</div>
	</div>
</Layout>