---
import { ViewTransitions } from "astro:transitions";
const {title} = Astro.props
---
<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		 <link href='https://unpkg.com/css.gg@2.0.0/icons/css/comment.css' rel='stylesheet'>
		 <link href='https://unpkg.com/css.gg@2.0.0/icons/css/calendar-dates.css' rel='stylesheet'>
		 <link href='https://unpkg.com/css.gg@2.0.0/icons/css/user.css' rel='stylesheet'>
		<ViewTransitions fallback="swap"></ViewTransitions>
</head>