---

---

<nav class="flex flex-row justify-center gap-2 p-">
    <a class="p-1 hover:underline" href="/">Index</a>
    <a class="p-1 hover:underline" href="/projects/1">Projects</a>
    <a class="p-1 hover:underline" href="/about">About</a>
    <a class="p-1 hover:underline" href="/contact">Contact</a>
</nav>
    
</nav>