---

---

<nav class="flex flex-row justify-center gap-2 p-">
    <a class="p-1 " href="/">Index</a>
    <a class="p-1 " href="/blog">Blog</a>
    <a class="p-1 " href="/portfolio">Portfolio</a>
</nav>
    
</nav>