---
import Head from "../components/Head.astro"
import Navigation from "../components/Navigation.astro";
---

<html lang="en" style="height: 100%">
	<Head></Head>
	<body class="bg-orange-50" style="height: 100%;">
		<Navigation></Navigation>
		<slot></slot>
	</body>
</html>